*.pdb
*.pro.user*
Thumbs.db
.DS_Store
src/common/_version.h
*.o
*.a
*.tgz
*.tar.gz
*.zip
Makefile*
*.Debug
*.Release
ui_*.h
moc_*.cpp
qrc_*.cpp
src/common/debug/*
src/common/release/*
src/dllLoader/debug/*
src/dllLoader/release/*
src/dllLoaderInst/debug/*
src/dllLoaderInst/release/*
src/portaudio/debug/*
src/portaudio/release/*
src/portmidi/debug/*
src/portmidi/release/*
src/vstboard/debug/*
src/vstboard/release/*
src/vstdll/debug/*
src/vstdll/release/*
